{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime",
    ["prismjs", {
      "languages": ["javascript", "css", "markup"],
      "plugins": ["line-numbers", "copy-to-clipboard", "toolbar"],
      "theme": "funky",
      "css": true
  }]]
}
